[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rclsp"]
	path = rclsp
	url = https://github.com/econcz/rclsp
[submodule "rconvertu"]
	path = rconvertu
	url = https://github.com/econcz/rconvertu
[submodule "rlppinv"]
	path = rlppinv
	url = https://github.com/econcz/rlppinv
[submodule "rtmpinv"]
	path = rtmpinv
	url = https://github.com/econcz/rtmpinv
[submodule "rtmpinvi"]
	path = rtmpinvi
	url = https://github.com/econcz/rtmpinvi
